.footer {
  margin: 0 200px;
  padding: 67px 0 60px 0;
  max-width: 880px;
  display: block;
}

@media screen and (min-width: 1171px) and (max-width: 1279px) {
  .footer {
    padding: 67px 0 60px 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1060px) and (max-width: 1170px) {
  .footer {
    padding: 57px 0 50px 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 760px) and (max-width: 1059px) {
  .footer {
    padding: 50px 0 40px 0;
    margin: 0 90px;
  }
}

@media screen and (min-width: 320px) and (max-width: 759px) {
  .footer {
    padding: 48px 19px 36px 19px;
    margin: 0 auto;
  }
}
